@use '../../configs' as *;
@use '../utilities/is-int' as *;
@use '../prefixer' as *;

/// Миксин `transform-origin-hard()` позволяет сгенерировать
/// свойство `transform-origin` с нужными браузерными
/// префиксами, но указываются эти данные жестко через
/// запятую порядком `x, y, z`.
/// ---
/// @name transform-origin-hard
/// @access public
/// @since 6.0.0
/// @author Haba Kudzaev (rx1310)
/// @link https://rx1310.github.io/kalium19
/// @example scss - Пример использования в Sass (SCSS)
/// 	.example {
/// 		@include transform-origin-hard(100%, 0, null);
/// 	}
/// @example css - Результат в CSS
/// 	.example {
/// 		-webkit-transform-origin: 100% 0;
/// 		-moz-transform-origin: 100% 0;
/// 		-ms-transform-origin: 100% 0;
/// 		-o-transform-origin: 100% 0;
/// 		transform-origin: 100% 0;
/// 	}
/// @param {Number | String} $x [$dvalue-transform-origin-hard_x] - координата по оси X
/// @param {Number | String} $y [$dvalue-transform-origin-hard_y] - координата по оси Y
/// @param {Number} $z [$dvalue-transform-origin-hard_z] - координата по оси Z
@mixin transform-origin-hard(
	$x: $dvalue-transform-origin-hard_x,
	$y: $dvalue-transform-origin-hard_y,
	$z: $dvalue-transform-origin-hard_z) {

	// Генерируем свойство с браузерными префиксами
	// с помощью миксина `prefixer()`:
	@include prefixer(
		transform-origin,
		$x $y $z,
		$prefixes-transform-origin
	);

}
