/// Список всех браузерных префиксов, которые я смог найти.
/// ---
/// @name prefixes-all
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
$prefixes-all: webkit khtml moz ms o !default;

/// Список браузерных префиксов для CSS-свойства
/// `user-select` и одноименного миксина.
/// ---
/// @name prefixes-user-select
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} user-select
$prefixes-user-select: webkit moz ms !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition` и одноименного миксина.
/// ---
/// @name prefixes-transition
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition
$prefixes-transition: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-delay` и одноименного миксина.
/// ---
/// @name prefixes-transition-delay
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-delay
$prefixes-transition-delay: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-duration` и одноименного миксина.
/// ---
/// @name prefixes-transition-duration
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-duration
$prefixes-transition-duration: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-property` и одноименного миксина.
/// ---
/// @name prefixes-transition-property
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-property
$prefixes-transition-property: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-timing-function` и одноименного миксина.
/// ---
/// @name prefixes-transition-timing-function
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-timing-function
$prefixes-transition-timing-function: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transform` и одноименного миксина.
/// ---
/// @name prefixes-transform
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transform
$prefixes-transform: webkit moz ms o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transform-origin` и одноименного миксина.
/// ---
/// @name prefixes-transform-origin
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transform-origin
$prefixes-transform-origin: webkit moz ms o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transform-style` и одноименного миксина.
/// ---
/// @name prefixes-transform-style
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transform-style
$prefixes-transform-style: webkit moz !default;

/// Список браузерных префиксов для CSS-свойства
/// `text-size-adjust` и одноименного миксина.
/// ---
/// @name prefixes-text-size-adjust
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} text-size-adjust
$prefixes-text-size-adjust: webkit moz ms !default;

/// Список браузерных префиксов для CSS-свойства
/// `tab-size` и одноименного миксина.
/// ---
/// @name prefixes-tab-size
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} tab-size
$prefixes-tab-size: moz o !default;

/// Список браузерных префиксов для значения
/// CSS-свойства `sticky`.
/// ---
/// @name prefixes-position-sticky
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} position-sticky
$prefixes-position-sticky: webkit !default;

/// Список браузерных префиксов для псевдокласса
/// `placeholder` и одноименного миксина.
/// ---
/// @name prefixes-placeholder-pseudo-class
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} placeholder
$prefixes-placeholder-pseudo-class: ':-ms-input' ':-moz' !default;

/// Список браузерных префиксов для псевдоэлемента
/// `placeholder` и одноименного миксина.
/// ---
/// @name prefixes-placeholder-pseudo-element
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} placeholder
$prefixes-placeholder-pseudo-element: '::-ms-input' '::-webkit-input' '::-moz' !default;

/// Список браузерных префиксов для CSS-свойства
/// `opacity` и одноименного миксина.
/// ---
/// @name prefixes-opacity
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} opacity
$prefixes-opacity: moz khtml !default;

/// Список браузерных префиксов для CSS-свойства
/// `object-fit` и одноименного миксина.
/// ---
/// @name prefixes-object-fit
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} object-fit
$prefixes-object-fit: o !default;

/// Список браузерных префиксов для CSS-свойства
/// `flex-basis` и одноименного миксина.
/// ---
/// @name prefixes-flex-basis
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flex-basis
$prefixes-flex-basis: webkit !default;

/// Список браузерных префиксов для CSS-свойства
/// `flex-direction` и одноименного миксина.
/// ---
/// @name prefixes-flex-direction
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flex-direction
$prefixes-flex-direction: webkit !default;

/// Список браузерных префиксов для значения
/// `flex` CSS-свойства `display`.
/// ---
/// @name prefixes-display-flex
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flexbox
$prefixes-display-flex: webkit !default;

/// Список браузерных префиксов для значения
/// `inline-flex` CSS-свойства `display`.
/// ---
/// @name prefixes-display-inline-flex
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flexbox
$prefixes-display-inline-flex: webkit !default;

/// Список браузерных префиксов для значения
/// `box` CSS-свойства `display`.
/// ---
/// @name prefixes-display-box
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flexbox
$prefixes-display-box: webkit moz !default;

/// Список браузерных префиксов для значения
/// `inline-box` CSS-свойства `display`.
/// ---
/// @name prefixes-display-inline-box
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} flexbox
$prefixes-display-inline-box: webkit moz !default;
