/// Список всех браузерных префиксов, которые я смог найти.
/// ---
/// @name prefixes-all
/// @group configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
$prefixes-all: webkit khtml moz ms o !default;

/// Список браузерных префиксов для CSS-свойства
/// `user-select` и одноименного миксина.
/// ---
/// @name prefixes-user-select
/// @group configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} user-select
$prefixes-user-select: webkit moz ms !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition` и одноименного миксина.
/// ---
/// @name prefixes-transition
/// @group configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition
$prefixes-transition: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-delay` и одноименного миксина.
/// ---
/// @name prefixes-transition-delay
/// @group configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-delay
$prefixes-transition-delay: webkit moz o !default;

/// Список браузерных префиксов для CSS-свойства
/// `transition-duration` и одноименного миксина.
/// ---
/// @name prefixes-transition-duration
/// @group configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} prefixer
/// @see {mixin} transition-duration
$prefixes-transition-duration: webkit moz o !default;
