/// Список допустимых значений для миксина `wh()`.
/// ---
/// @name vvalues-wh
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} wh
$vvalues-wh: min max normal !default;

/// Список допустимых значений для миксина `user-select()`.
/// ---
/// @name vvalues-user-select
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} user-select
$vvalues-user-select: auto none text all contain inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `transition-timing-function()`.
/// ---
/// @name vvalues-transition-timing-function
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} transition-timing-function
$vvalues-transition-timing-function: ease ease-in ease-out ease-in-out linear step-start step-end inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `transform-style()`.
/// ---
/// @name vvalues-transform-style
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} transform-style
$vvalues-transform-style: flat preserve-3d inherit initial unset !default;

/// Список допустимых значений для
/// миксина `text-shorten()`.
/// ---
/// @name vvalues-text-shorten
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} text-shorten
$vvalues-text-shorten: 'только числа!', 'only numbers!' !default;

/// Список допустимых значений для
/// миксина `tab-size()`.
/// ---
/// @name vvalues-tab-size
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} tab-size
$vvalues-tab-size: 'только числа!', 'only numbers!' !default;

/// Список допустимых значений для
/// миксина `scroll-behavior()`.
/// ---
/// @name vvalues-scroll-behavior
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} scroll-behavior
$vvalues-scroll-behavior: auto smooth inherit initial unset !default;

/// Список допустимых значений для
/// миксина `position()`.
/// ---
/// @name vvalues-position
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} position
$vvalues-position: static relative absolute fixed sticky inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `position-sticky()`.
/// ---
/// @name vvalues-position-sticky
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} position-sticky
$vvalues-position-sticky: top t 8 right r 6 bottom b 2 left l 4;
