/// Список допустимых значений для миксина `wh()`.
/// ---
/// @name vvalues-wh
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} wh
$vvalues-wh: min max normal !default;

/// Список допустимых значений для миксина `user-select()`.
/// ---
/// @name vvalues-user-select
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} user-select
$vvalues-user-select: auto none text all contain inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `transition-timing-function()`.
/// ---
/// @name vvalues-transition-timing-function
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} transition-timing-function
$vvalues-transition-timing-function: ease ease-in ease-out ease-in-out linear step-start step-end inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `transform-style()`.
/// ---
/// @name vvalues-transform-style
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} transform-style
$vvalues-transform-style: flat preserve-3d inherit initial unset !default;

/// Список допустимых значений для
/// миксина `text-shorten()`.
/// ---
/// @name vvalues-text-shorten
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} text-shorten
$vvalues-text-shorten: 'только числа!', 'only numbers!' !default;

/// Список допустимых значений для
/// миксина `tab-size()`.
/// ---
/// @name vvalues-tab-size
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} tab-size
$vvalues-tab-size: 'только числа!', 'only numbers!' !default;

/// Список допустимых значений для
/// миксина `scroll-behavior()`.
/// ---
/// @name vvalues-scroll-behavior
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} scroll-behavior
$vvalues-scroll-behavior: auto smooth inherit initial unset !default;

/// Список допустимых значений для
/// миксина `position()`.
/// ---
/// @name vvalues-position
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} position
$vvalues-position: static relative absolute fixed sticky inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// миксина `position-sticky()`.
/// ---
/// @name vvalues-position-sticky
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} position-sticky
$vvalues-position-sticky: top t 8 right r 6 bottom b 2 left l 4;

/// Список допустимых значений для
/// миксина `object-fit()`.
/// ---
/// @name vvalues-object-fit
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} object-fit
$vvalues-object-fit: contain cover fill none scale-down inherit initial unset revert revert-layer !default;

/// Список допустимых значений для
/// CSS-свойства `font-weight`.
/// ---
/// @name vvalues-font-weight
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} font-face
$vvalues-font-weight: normal bold lighter bolder 100 200 300 400 500 600 700 800 900 inherit initial revert revert-layer unset !default;

/// Список допустимых значений для
/// CSS-свойства `font-style`.
/// ---
/// @name vvalues-font-style
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} font-face
$vvalues-font-style: normal italic oblique inherit initial revert revert-layer unset !default;

/// Список возможных расширений файлов
/// шрифтов для миксина `font-face()`.
/// ---
/// @name vvalues-font-file-extensions
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} font-face
$vvalues-font-file-extensions: "eot?#iefix" eot woff woff2 ttf otf svg !default;

/// Список допустимых значений для
/// CSS-свойства `flex-direction`.
/// ---
/// @name vvalues-flex-direction
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} flex-direction
$vvalues-flex-direction: row row-reverse column column-reverse inherit initial unset !default;

/// Список допустимых значений для
/// миксина `flexbox()`.
/// ---
/// @name vvalues-flexbox
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} flexbox
$vvalues-flexbox: block inline;

/// Список допустимых значений для
/// миксина `flex-wrap()`.
/// ---
/// @name vvalues-flex-wrap
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} flex-wrap
$vvalues-flex-wrap: nowrap wrap wrap-reverse inherit initial unset !default;

/// Список допустимых значений для
/// миксина `flex-shrink()`.
/// ---
/// @name vvalues-flex-shrink
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} flex-shrink
$vvalues-flex-shrink: '<number>' inherit initial unset;

/// Список допустимых значений для
/// миксина `order()`.
/// ---
/// @name vvalues-order
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} order
$vvalues-order: '<number>' inherit initial unset;

/// Список допустимых значений для
/// миксина `justify-content()`.
/// ---
/// @name vvalues-justify-content
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} justify-content
$vvalues-justify-content: center start end flex-start flex-end left right baseline 'first baseline' 'last baseline' space-between space-around space-evenly stretch 'safe center' 'unsafe center' inherit initial unset !default;

/// Список допустимых значений для
/// миксина `flex-grow()`.
/// ---
/// @name vvalues-flex-grow
/// @group Configs
/// @access private
/// @since 6.0.0
/// @type List
/// @see {mixin} flex-grow
$vvalues-flex-grow: '<number>' inherit initial unset;

/// Список допустимых значений для
/// миксина `flex-flow()`.
/// ---
/// @name vvalues-flex-flow
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} flex-flow
$vvalues-flex-flow: row row-reverse column column-reverse nowrap wrap wrap-reverse 'row nowrap' 'column wrap' 'column-reverse wrap-reverse' inherit initial unset !default;

/// Список допустимых значений для
/// миксина `align-self()`.
/// ---
/// @name vvalues-align-self
/// @group Configs
/// @access public
/// @since 6.0.0
/// @type List
/// @see {mixin} align-self
$vvalues-align-self: auto normal center start end self-start self-end flex-start flex-end baseline 'first baseline' 'last baseline' stretch 'safe center' 'unsafe center' inherit initial unset !default;
